html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/Background.png");
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: max-content;
    background-position: center;
    background-repeat: repeat-y;
    background-position: center top;
    background-size: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 8);
}

h1 {
    color: rgb(113, 204, 216);
    visibility: hidden;
}

h2 {
    color: rgb(11, 70, 78);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0px;
}

footer {
    background: linear-gradient(to bottom, #eaacff, #4b0082);
    color: white;
    padding: 10px 0px 10px 20px;
}

nav {
    background-image: url("../images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px; 
    padding: 10px 0 10px 0;
    justify-content: center;
    margin: 0;
    z-index: 100; /* Jotta sivustolla olevat kuvat yms. varmasti jäävät bannerin alle*/
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 20px;  
}

nav a, nav a:visited, nav a:active {
    display: inline-block;
    background: linear-gradient(to bottom, #d46fff, #4b0082);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 
        color 0.3s ease,
        background-color 0.3s ease,
        transform 0.2s ease;
}

nav a:hover {
    background: linear-gradient(to bottom, #eaacff, #4b0082);
    color: white;
    transform: scale(1.10);
}

#home-content, #my-page-content {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    align-items: flex-start; /* tekee elementeistä sen pituisia kuin niiden sisältö on!*/
}

.header-banner {
    width: 318px;
    background: linear-gradient(to bottom, #e0f0ff 1%, #e0f0ff 5%, #0284ff 30%);
    border-radius: 15px;
    border: 1px groove rgb(30, 134, 209);
}

.banner-content {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 8px; 
}

.banner-content h2 {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0px -15px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-banner img {
    width: 80px;
    height: auto;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
    padding: 8px 0px 5px 0px;
}

.info-box-outer {
    width: 294px;
    background: linear-gradient(
    to bottom,
    rgba(224, 240, 255, 1) 1%,
    rgba(224, 240, 255, 1) 5%,
    rgba(2, 132, 255, 1) 50%,
    rgba(2, 132, 255, 0) 100%
);
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 0px 0px;
}

.info-box-inner {
    width: 298px;
    min-width: 298px;
    max-width: 298px;
    flex-shrink: 0;
    background: rgb(233, 244, 252);
    border-radius: 10px;
    border: 2px groove rgb(180, 211, 233);
    padding: 0px 0px;
    height: auto;
    margin: -3px -4px;
}

.info-box-header h3 {
    text-align: left;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 9px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper-line {
    border: none;
    height: 1px;
    background: rgba(180, 211, 233);
    margin: 0px 8px;
}

.lower-line {
    border: none;
    height: 1px;
    background: white;
    margin: 2px 8px;
}

.info-box-inner p {
    margin: 5px 9px;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-box-inner h4 {
    text-align: left;
    font-weight: bold;
    margin: 12px 10px 18px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-box-inner a {
    display: inline-block;
    color: #0077cc;
    font-weight: bold;
    text-decoration: none;
}

.info-box-inner a:hover {
    opacity: 0.7;
}