/* =========================
   PERUSASETUKSET
========================= */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --card-width: 100%;
    --card-ratio: 89 / 58;
    --gap: 10px;
}

body {
    margin: 0;
    padding: 10px;
    background: #054705; /* vihreä pöytä */
    min-height: 100vh;
}

/* =========================
   PELIALUE
========================= */

.game-board {
    width: min(90vw, 1400px);
    display: grid;
    grid-template-rows: auto auto;
    gap: var(--gap);
    margin: 0 auto; 
}

.upper-row, .lower-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--gap);
    width: 100%;
}

/* =========================
   KORTTIPAIKAT
========================= */

/* Määritelmät koskevat kaikkia Upper-row ja Lower-row -divien
alla olevia div-tyyppisiä lapsia. */
.upper-row > div,
.lower-row > div {
    outline: 2px solid red;
    /* Määritetään tähän div:iin sijoitettavien elementtien asettelu
    riippumaan tämän div:n rajoista. */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    aspect-ratio: 58 / 89;
    background: rgba(255, 255, 255, 0.25);
    border: 3px dashed rgba(255, 255, 255, 0.3);
    margin-bottom: calc(var(--gap) * 3);
    
}

.upper-row > div:hover,
.lower-row > div:hover {
    background: rgba(255, 255, 255, 0.45);
    border-color: rgba(255, 255, 255, 0.7);
}

.upper-row .empty-slot {
    visibility: hidden;
}

/* =========================
   YLÄRIVI – KORTTIPAIKAT
========================= */

#seed-display {
    margin-top: var(--gap);
    color: white;
}

#seed-number {
    color: white;
}