body {
    background-image: url("../images/Background.png");
    min-width: 100%;
    min-height: 100%;
    width: max-content;
    background-position: center;
    background-repeat: repeat-y;
    background-position: center top;
    background-size: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 8);
}

h1 {
    color: rgb(113, 204, 216);
    visibility: hidden;
}

h2 {
    color: rgb(11, 70, 78);
}

div {
    color: rgb(11, 70, 78);
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0px;
}

footer {
    background: linear-gradient(to bottom, #eaacff, #4b0082);
    color: white;
    padding: 10px 0px 10px 20px;
}

nav {
    background-color: rgb(0, 0, 8);
    background-image: url("../images/Background.png");
    background-position: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px; 
    padding: 10px 0 10px 0;
    justify-content: center;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 20px;  
}

nav a, nav a:visited, nav a:active {
    display: inline-block;
    background: linear-gradient(to bottom, #d46fff, #4b0082);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 
        color 0.3s ease,
        background-color 0.3s ease,
        transform 0.2s ease;
}

nav a:hover {
    background: linear-gradient(to bottom, #eaacff, #4b0082);
    color: white;
    transform: scale(1.10);
}

#home-content {

    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 30px;
}

.info-box-outer, .game-box-outer {
    width: 300px;
    background: linear-gradient(to bottom, #e0f0ff 1%, #ffffff 12%, #ffffff 87%);
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto;
}


.info-box-inner, .game-box-inner {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    flex-shrink: 0;
    background: rgb(233, 244, 252);
    border-radius: 10px;
    border: 2px groove rgb(180, 211, 233);
    padding: 0px 0px;
    height: auto;
}

.info-box-header h3, .game-box-header h3 {
    text-align: left;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 9px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper-line {
    border: none;
    height: 1px;
    background: rgba(180, 211, 233);
    margin: 0px 8px;
}

.lower-line {
    border: none;
    height: 1px;
    background: white;
    margin: 2px 8px;
}

.info-box-inner p, .game-box-inner p {
    margin: 5px 9px;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-box-inner h4 {
    text-align: left;
    font-weight: bold;
    margin: 12px 10px 18px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-box-inner a, .game-box-inner a {
    display: inline-block;
    color: #0077cc;
    font-weight: bold;
    text-decoration: none;
}

.info-box-inner a:hover,
.game-box-inner a:hover {
    opacity: 0.7;
}