body {
    /*background-image: url("../images/Background.png");*/
    background-position: center;
    background-repeat: repeat-y;
    background-position: center top;
    background-size: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: rgb(0, 0, 8);*/
    background-color: white;
}

h1 {
    color: rgb(113, 204, 216);
}

h2 {
    color: rgb(11, 70, 78);
}

.upper-line {
    border: none;
    height: 1px;
    background: rgba(180, 211, 233);
    margin: -1px -1px;
}

.lower-line {
    border: none;
    height: 1px;
    background: white;
    margin: 2px -1px -7px -1px;
}

div {
    color: rgb(11, 70, 78);
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 0px;
}

footer {
    background: linear-gradient(to bottom, #eaacff, #4b0082);
    color: white;
    padding: 10px 0px 10px 0px;
}

nav {
    position: sticky;
    padding: 20px;
    justify-content: center;
    background: none;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    gap: 20px;  
}

nav a, nav a:visited, nav a:active {
    display: inline-block;
    background: linear-gradient(to bottom, #d46fff, #4b0082);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 
        color 0.3s ease,
        background-color 0.3s ease,
        transform 0.2s ease;
}

nav a:hover {
    background: linear-gradient(to bottom, #eaacff, #4b0082);
    color: white;
    transform: scale(1.10);
}

#home-content {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 30px;
}

.info-box-outer, .game-list-outer {
    width: 300px;
    background: linear-gradient(to bottom, #e0f0ff 1%, #ffffff 12%, #ffffff 87%);
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto;
}


.info-box-inner, .game-list-inner {
    background: rgb(233, 244, 252);
    border-radius: 10px;
    border: 2px groove rgb(180, 211, 233);
    padding: 0px 10px;
    height: auto;
}

.info-box-inner h2, .game-list-inner h2 {
    text-align: left;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-box-inner p, .game-list-inner p {
    margin: 13px -3px 0px -3px;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-box-inner a,
.game-list-inner a {
    margin: 9px -3px 22px -3px;
    display: inline-block;
    color: #0077cc;
    font-weight: bold;
    text-decoration: none;
}

.info-box-inner a:hover,
.game-list-inner a:hover {
    opacity: 0.8; /* esim. hover-efekti jos haluat */
}